<template>
  <div class="confirm">
    <h2>¿Nos acompañas o te lo pierdes?</h2>

    <p>
      Para confirmar tu asistencia al matrimonio sólo tienes que escribir tu nombre y darle a Buscar. Aparecerá tu nombre y sólo tienes que decir si vienes o no al matrimonio (lo de dejar el mensaje es opcional pero nos emocionará mucho leerlo) :)
    </p>

    <div class="form">
      <div class="form-control">
      <label>Nombre</label>
      <input type="text" placeholder="Ej. Gonzalez">
      </div>
      <div class="button">
        <button>
        Buscar
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.confirm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20%;

  h2{
    margin-bottom: 30px;
  }

  p{
    text-align: left;
  }

  .form{
    width: 300px;
    margin: 50px 0;

    label{
      width: 100%;
      text-align: left;
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }

    input{
      width: 100%;
      outline: 0;
      background: #f2f2f2;
      border: 1px solid #fff;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;  

      &:focus{
        background: #fff;
        border: 1px solid #868686;
      }
    }

    .button{
      display: flex;
      justify-content: flex-end;

      button{
        color: white;
        background: #54CAA2;
        padding: 10px 20px;
        font-size: 12px;
        border: 0;

        &:hover{
          background: rgb(55, 194, 148);
          cursor: pointer;
        }
      }
    }
  }
}
</style>