<template>
  <div class="home">
    <div class="image">
      <img src="we.png" alt="">
    </div>
    <div class="text">
      <h2>¡Sí! nos casamos!!! <img src="green-heart.png" alt=""></h2>

      <p>¡Bienvenidos a nuestro matrimonio!</p>
      <p>¡Estamos muy felices y queremos compartir contigo todo nuestro amor. Por eso estamos preparando un matrimonio que hará historia y en el que lo pasarás genial.</p>
      <p>Mientras llega el gran día hemos creado esta web con un montón de secciones para que estes al día de todo y compartir nuestra historia de amor.</p>
      <p>Una cosa importante, en la sección asistencia puedes confirmar si vas al matrimonio o no. Confírmanos lo antes posible por favor, por que así nos será mucho más fácil organizarlo todo.</p>
      <p>Disfruta la web y nos vemos muy pronto, mil besos!</p>
    </div>
  </div>
</template>

<style lang="scss">
.home{
  display: flex;
  padding: 50px 15%;

  .image{
    width: 50%;
    padding: 30px;

    img{
      width: 100%;
    }
  }

  .text{
    width: 50%;
    padding: 50px 30px;

    h2{
      text-align: left;
    }

    p{
      margin-top: 15px;
      text-align: left;
    }
  }
}
</style>
