<template>
    <div id="banner">
        <img class="background" src="background.png" alt="">

        <div class="flag">
            <p>Solo</p>
            <p>{{days}}</p>
            <p>Días</p>
        </div>
        
        <div class="box">
            <div class="head">
                <div class="corner">
                    <img src="white-heart.png" alt="">
                </div>
                <div class="title">
                    <p>
                        ¡Nos Casamos!
                    </p>
                </div>
                <div class="corner">
                    <img src="white-heart.png" alt="">
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <p>Juan & Andrea</p>
                </div>
                <div class="row">
                    <p> 7 de Noviembre</p>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
  name: 'Banner',
  data () {
    return {
        days: 0,
    }
  },
  mounted () {
    var end = new Date('11/07/2020 9:30 AM');
    var now = new Date();
    var distance = end - now;

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    
    this.days = Math.floor(distance / _day);

  }
}
</script>

<style lang="scss">

#banner{
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .background{
        width: 100%;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: top;
        z-index: -1;
    }

    .flag{
        padding: 10px 15px 30px;
        position: absolute;
        top: 0;
        
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #54CAA2;
            z-index: -1;
            clip-path: polygon(100% 0, 100% 100%, 53% 76%, 0 100%, 0% 0%);
        }

        p{
            font-weight: 700;
            color: #fff
        }
    }

    .box{
        border: 2px solid #fff;
        width: 60%;
        margin-top: 100px;

        .head{
            display: flex;
            justify-content: space-between;

            img{
                padding: 10px;
                width: 50px;
            }

            .title{
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% - 100px);
                position: relative;

                &:after,
                &:before{
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 98%;
                    background: #fff;
                }

                &:before{
                    top: 1%;
                    left: 0;
                }

                &:after{
                    top: 1%;
                    right: 0;
                }

                p{
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }

        .body{
            border-top: 2px solid #fff;

            .row{
                font-weight: 700;
                color: #fff;

                &:first-child{
                    font-size: 36px;
                    letter-spacing: 3px;
                    padding: 30px 0 10px;
                }

                &:last-child{
                    padding: 10px 0;
                    font-size: 18px;
                }
            }
        }
    }
}

</style>