<template>
  <div id="app">
    <div id="nav">
      <h1>Juan&Andrea</h1>
      <div class="menu">
        <router-link to="/">Inicio</router-link>
        <router-link to="/confirm">Confirma tu asistencia</router-link>
        <router-link to="/contact">Contáctanos</router-link>
        <router-link to="/know">Lo que necesitas saber</router-link>
      </div>
    </div>

    <Banner></Banner>

    <router-view/>

    <footer id="footer">
      <div class="container">
        <img src="black-heart.png" alt="">
        <p>Juan Carlos & Andrea Eugenia</p>
      </div>
    </footer>
  </div>
</template>

<script>
import Banner from '@/components/Banner.vue'

export default {
  name: 'App',
  components: {
    Banner
  }
}
</script>

<style lang="scss">

$color-text: #212121;
$color-contrast: #54CAA2;
$color-border: #000;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-text;
}

#nav {
  padding: 20px 45px;
  display: flex;
  justify-content: space-between;

  h1{
    font-size: 18px;
    letter-spacing: 2px;
  }

  a {
    font-size: 14px;
    color: #2c3e50;
    margin: 0 20px;
    text-decoration: none;

    &.router-link-exact-active {
      border-bottom: 2px solid $color-contrast;
    }
  }
}

#footer{
  margin: 50px 0;
  
  .container{
    padding: 30px 0;
    position: relative;
    display: inline-block;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      width: 300%;
      height: 1px;
      background: $color-text;
      left: -100%;
    }

    img{
      width: 30px;
      position: absolute;
      top: -9px;
      left: calc(50% - 15px);
    }

    p{
      margin: 30px 0;
    }
  }
}

</style>
